/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol {
	list-style: none;
}
a {
    text-decoration: none;
    color: currentColor;
}
img {max-width: 100%;}

/* project */
body {
    height: 100vh;
    position: relative;
}

.container {
    height: 70%;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.div-mail {
    overflow: auto;
    flex-shrink: 1;
}

button {
    border-radius: 99px;
    padding: 5px 10px;
    background-color: blueviolet;
    color: white;
}

li {
    font-size: 25px;
}